.DesktopToolbarNavigation {
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
}

.DesktopToolbarNavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

@media (min-width: 736px) {
  .DesktopToolbarNavigationItems {
    flex-flow: row;
  }
}
