.WriteCommentSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
}

.WriteComment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.WriteCommentForm {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.WriteComment textarea {
  border: 0;
  resize: none;
}

.WriteComment button {
  opacity: 0.3;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  border: 0;
  color: rgb(1, 150, 247);
  display: inline;
  padding: 0;
  position: relative;
}

@media (max-width: 735px) {
  .WriteCommentSection {
    order: 5;
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 736px) {
  .WriteCommentSection {
    order: 4;
  }
}
