.Picture {
  width: 100%;
  margin-bottom: 16px;
  margin: 0;
  box-sizing: content-box;
  max-width: 935px;
}

.DesktopOnly {
  display: none;
}

.MobileOnly {
  display: flex;
  flex-direction: column;
}

@media (min-width: 736px) {
  .Picture {
    box-sizing: content-box;
    justify-content: normal;
    margin: 0 auto 30px;
    padding: 4vh 20px 0;
    width: calc(100% - 40px);
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }

  .DesktopOnly {
    display: flex;
    flex-direction: row;
  }

  .MobileOnly {
    display: none;
  }
}
