.Picture {
  width: 100%;
  margin-bottom: 16px;
  margin: 0;
  box-sizing: content-box;
  max-width: 935px;
}

.DesktopOnly {
  display: none;
}

.MobileOnly {
  display: flex;
  flex-direction: column;
}

@media (min-width: 736px) {
  .Picture {
    box-sizing: content-box;
    justify-content: normal;
    margin: 0 auto 30px;
    padding: 4vh 20px 0;
    width: calc(100% - 40px);
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }

  .DesktopOnly {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-shrink: 0;
    padding: 0;
    position: relative;
    border: 1px solid rgb(220, 220, 220);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  .WideLeftSide {
    width: 598px;
  }

  .WideRightSide {
    display: inline-flex;
    width: 335px;
  }

  .MobileOnly {
    display: none;
  }
}
