.LiFileUploader {
  display: block;
  text-align: center;
  width: 25%;
}

.DivFileUploader {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.ProfileFileUploader {
  display: block;
}

.LiFileUploader input, .DivFileUploader input, .ProfileFileUploader input {
  display: none;
}

@media (min-width: 736px) {
  .ProfileFileUploader button {
    margin: 0;
  }
}
