:root{
  --size: 33%;
}

@media (min-width: 736px) {
  :root{
    --size: 29%;
  }
}

.ProfileWallGrid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1rem -1rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 0;
  padding-top: 0;
}

.ProfileWallGridRow {
  display: inline-flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.ProfileWallGridRow>* {
  flex: 1 0 0%;
  -webkit-box-flex: 1;
}

.Thumbnail {
  position: relative;
  flex: 1 0 22rem;
  color: #fff;
  cursor: pointer;
  max-width: var(--size);
  width: var(--size);
  height: var(--size);
}

@media (max-width: 735px) {
  .Thumbnail {
    margin: 0;
  }
}

@media (min-width: 736px) {
  .Thumbnail {
    margin: 1rem;
  }
}

.Thumbnail:after {
  display: block;
  padding-bottom: 100%;
}

.Thumbnail img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 736px) {
  .ProfileWallGridRow {
    margin-bottom: 28px;
  }

  .Thumbnail {
    margin-right: 28px;
  }

  .Thumbnail:last-child {
    margin-right: 0;
  }
}
