.MobileFooterNavigationItem {
  box-sizing: border-box;
  display: block;
  margin: 10px;
  width: 33.3%;
  text-align: center;
}

.MobileFooterNavigationItem a {
  box-sizing: border-box;
  color: #000;
  display: block;
  text-decoration: none;
  width: 100%;
}

.MobileFooterNavigationItem a:hover,
.MobileFooterNavigationItem a:active,
.MobileFooterNavigationItem a.active {
  color: #40A4C8;
}
