.Logo {
  background-color: #fff;
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo img {
  height: 50%;
  width: 50%;
}

@media (min-width: 736px) {
  .Logo {
    height: 100%;
    width: auto;
  }

  .Logo img {
    height: 100%;
    width: auto;
  }
}
