.NavigationItem {
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  width: 100%;
}

.NavigationItem a {
  box-sizing: border-box;
  color: #000;
  display: block;
  text-decoration: none;
  width: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40A4C8;
}

@media (min-width: 500px) {
  .NavigationItem {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    width: auto;
  }

  .NavigationItem a {
    border-bottom: 4px solid transparent;
    color: black;
    height: 100%;
    padding: 16px 10px;
    width: auto;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    text-decoration: underline;
    color: black;
  }
}
