.ProfileWallTabs {
  align-items: center;
  border-top: 1px solid rgb(220, 220, 220);
  color: #8e8e8f;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
  list-style-type: none;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
}
