.Button {
  background-color: transparent;
  border: none;
  color: #000;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: normal;
  border-radius: 5px;
}

@media (min-width: 500px) {
  .Button {
    padding: 0;
    margin: 0 10px;
  }
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Primary {
  color: #FFFFFF;
  background-color: #2495f6;
  margin: auto;
  width: 100%;
  padding: 8px 0;
}

.Primary:disabled {
  background-color: #b6defe;
}

.Secondary {
  color: #000000;
  margin: auto;
  padding: 8px 0;
  width: 100%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}

.LogInSignUp {
  background-color: #fff;
  border-radius: 0;
  color: #2495f6;
  margin: 0 0 10px;
  height: 70px;
  width: 350px;
  padding: 15px 0;
  border: 1px solid #ccc;
}

.ForgotPassword {
  font-size: 12px;
  color: rgb(1, 56, 108)
}

.Tertiary {
  color: #000;
  margin: auto;
  margin: 16px 0;
  width: 100%;
  text-decoration: underline;
}

.UpdateUser {
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2495f6;
  font-weight: bold;
  margin: auto;
  margin-left: 21%;
  padding: 5px 9px;
}

.DesktopUpload {
  background-color: #2495f6;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
}

.DesktopUpload:before, .DesktopUpload:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.DesktopUpload:before {
  width: 2px;
  margin: 10px auto;
}

.DesktopUpload:after {
  margin: auto 10px;
  height: 2px;
}
