.Button {
  background-color: transparent;
  border: none;
  color: #000;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: normal;
  border-radius: 5px;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Primary {
  color: #FFFFFF;
  background-color: #2495f6;
  margin: auto;
  width: 100%;
}

.Primary:disabled {
  background-color: #b6defe;
}

.Secondary {
  color: #000000;
  margin: auto;
  width: 100%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}

.Tertiary {
  color: #000;
  margin: auto;
  width: 100%;
  text-decoration: underline;
}
