.DesktopToolbarNavigationItem {
  box-sizing: border-box;
  display: block;
  margin: 10px;
  width: 25%;
}

.DesktopToolbarNavigationItem a {
  box-sizing: border-box;
  color: #000;
  display: block;
  text-decoration: none;
  width: 100%;
}

.DesktopToolbarNavigationItem a:hover,
.DesktopToolbarNavigationItem a:active,
.DesktopToolbarNavigationItem a.active {
  color: #40A4C8;
}

@media (min-width: 736px) {
  .DesktopToolbarNavigationItem {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    width: auto;
  }

  .DesktopToolbarNavigationItem a {
    border-bottom: 4px solid transparent;
    color: black;
    height: 100%;
    padding: 16px 10px;
    width: auto;
  }

  .DesktopToolbarNavigationItem a:hover,
  .DesktopToolbarNavigationItem a:active,
  .DesktopToolbarNavigationItem a.active {
    text-decoration: underline;
    color: black;
  }
}
