.Header {
  margin: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
}

.DesktopOnly {
  display: none;
}

.TopMobile {
  display: flex;
  flex-direction: row;
}

.MobileOnly {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 735px) {
  .Header {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 8px;
  }

  .TopMobile {
    margin-bottom: 24px;
  }
}

@media (min-width: 736px) {
  .Header {
    margin-bottom: 44px;
  }

  .DesktopOnly {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .LeftDesktop {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 30px;
    -webkit-box-flex: 1;
  }

  .RightDesktop {
    flex-basis: 30px;
    flex-grow: 2;
    -webkit-box-flex: 2;
  }

  .MobileOnly {
    display: none;
  }
}
