.Input {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fafafa;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}

.Invalid:focus {
  outline: none;
  background-color: salmon;
}
