.Auth {
  margin: 175px auto 5px;
  height: 380px;
  width: 80%;
  text-align: center;
  padding: 10px 50px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.SwitchAuth {
  padding: 5px;
  margin: 0 auto;
}

.SubText {
  color: rgb(141, 141, 141);
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

@media (min-width: 600px) {
  .Auth, .SwitchAuth {
    width: 350px;
  }

  .SignUp {
    height: 574px;
    margin: 25px auto;
  }
}
