.ChangePasswordPage {
  margin: 20px;
  padding-right: 20px;
  color: rgb(39, 39, 39);
}

@media (min-width: 736px) {
  .ChangePasswordPage label {
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
  }

  .ChangePasswordPage input {
    flex-basis: 355px;
    flex-direction: row;
    padding-right: 60px;
    flex-grow: 1;
    font-size: 16px;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }
}
