.Description {
  width: 75%;
  margin: 0 auto;
  display: inline-block;
}

.DesktopOnly {
  display: none;
}

.Username {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(39, 39, 39);
  font-weight: 300;
  font-size: 28px;
  margin: -5px 0 -6px;
  line-height: 32px;
}

.ProfileActions {
  display: inline-flex;
  margin-left: 20px;
}

.CountRow {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: rgb(142, 142, 142);
  width: 100%;
}

.CountRow li {
  font-size: 16px;
  width: 33.3%;
}

.Count {
  color: rgb(39, 39, 39);
  font-weight: 600;
}

.Bio {
  white-space: pre;
}

.ProfileDescription {
  font-size: 16px;
  line-height: 24px;
  display: block;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.FullName {
  display: inline;
  font: inherit;
  font-weight: 600;
}

.Website,
.Website:visited {
  color: rgb(1, 56, 108);
  text-decoration: none;
  font-weight: 600;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 735px) {
  .Description {
    width: 100%;
  }

  .ProfileDescription {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 16px 21px;
    text-overflow: ellipsis;
  }

  .CountRow {
    border-top: 1px solid rgb(220, 220, 220);
    padding: 12px 0;
    margin-bottom: 0;
  }

  .CountRow li {
    text-align: center;
  }
}

@media (min-width: 736px) {
  .DesktopOnly {
    display: flex;
    flex-direction: column;
  }

  .MobileOnly {
    display: none;
  }

  .Description {
    width: 75%;
  }

  .CountRow {
    margin-bottom: 20px;
    padding: 0;
  }
}
